<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Clipboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <p>Enter text then click copy<br>
  <ion-textarea [(ngModel)]="CopyTextAreaText"></ion-textarea>
  <ion-button (click)="copyText()">Copy Text</ion-button>
  </p>
 
<p>Paste text<br>
  <ion-textarea [(ngModel)]="PasteTextAreaText"></ion-textarea>
  <ion-button (click)="pasteText()">Paste Here</ion-button>
  <ion-button (click)="clearClipboard()">Clear Clipboard</ion-button>
</p>
 
</ion-content>
